<!doctype html>
<html>
	<head>
		<title>Detalle Horario</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="tarjeta-horario">
			<label>Medico: </label><label th:text="${medico}"></label><br></br>
			<label>Comienza: </label><label th:text="${comienza}"></label><br></br>
			<label>Termina</label><label th:text="${termina}"></label><br></br>
			<label>Dia: </label><label th:text="${dia}"></label><br></br>
		</div>
	</body>

</html>