<!doctype html>
<html>
	<head>
		<title>Registro Horarios</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<h2>Registro:</h2>
		
		<form action="/insertar-horario">
			<input type="text" name="medico" placeholder="Medico..."></input>
			<input type="text" name="comienza" placeholder="Comienza HH:MM..."></input>
			<input type="text" name="termina" placeholder="Termina HH:MM..."></input>
			<input type="text" name="dia" placeholder="Día..."></input>
			<input type="submit"></input>
		</form>
		
	</body>

</html>